html {
  overflow-y: scroll;
}
form {
  background: rgba(19, 35, 47, 0.9); 
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}


body { 
  font-family: 'Titillium Web', sans-serif;

}

input{
  font-size: 22px;
  display: block;
  width: 80%;
  height: 80%;
  padding: 5px 5px;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input #submit {
  width: 60%;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
span {
    color: #1ab188;
    font-weight: bold;
}
.field-wrap {
  position: relative;
padding: 0,auto;
}
h1{
  text-align: center;
}
