html {
  overflow-y: scroll;

}
form {
  background: rgba(105, 114, 122, 0.9); 
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
main {
    display: flex;
  flex: nowrap;
  margin-top:2%;
}

body { 
  font-family: 'Titillium Web', sans-serif;

}
h2 {
    display: flex;
  flex: wrap;
}
#formm input[type=text], input[type=email]{
  font-size: 22px;
  display: block;
  width: 80%;
  height: 80%;
  padding: 5px 5px;
  border: 1px solid #a0b3b0;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
#label {
  font-size: 18px;
  font-weight: bold; 
}
#formm input[type=submit] {
  width: 80%;
  font-size: 22px;
}
#formm input[type=checkbox] {
  font-size: 22px;
}
select {
   width: 80%;
  font-size: 22px; 
}


span {
    color: #1ab188;
    font-weight: bold;
}
.field-wrap {
  position: relative;
padding: 0,auto;
}
h1{
  text-align: center;
}

#edit #head {
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea#descr {
  color: black;
}
button#fire {
  margin left:40%;
}